<?xml version="1.0"?>
<config>
    <modules>
        <Cld_Raygun>
            <version>0.1.0</version>
        </Cld_Raygun>
    </modules>
    <global>
        <models>
            <cdl_raygun>
                <class>Cdl_Raygun_Model</class>
            </cdl_raygun>
        </models>
        <helpers>
            <cdl_raygun>
                <class>Cdl_Raygun_Helper</class>
            </cdl_raygun>
        </helpers>
    </global>
    <frontend>
        <routers>
            <raygun>
                <use>standard</use>
                <args>
                    <module>Cdl_Raygun</module>
                    <frontName>raygun</frontName>
                </args>
            </raygun>
        </routers>
    </frontend>
    <global>
        <events>
            <controller_action_predispatch>
                <observers>
                    <raygun_action_predispatch>
                        <class>Cdl_Raygun_Model_Observer</class>
                        <method>actionPredispatch</method>
                    </raygun_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
</config>
